spring:
  datasource:
    url: jdbc:mysql://localhost:3306/kbhealthcare?useSSL=false&serverTimezone=UTC&characterEncoding=UTF-8
    username: kbhealthcare_svc
    password: kbhealthcare
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
    open-in-view: false
  data:
    redis:
      host: localhost
      port: 6379

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG

jwt:
  secret: "+Rf/H7ZlrkZIE+ybfDO1S5e6lAi/8gdSaQBoN4+zd2VY0mhnr+9owzks5aC3X0URvtzBXGy+iCAKbuROl11Cww=="
  expiration-seconds: 86400